@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One|Sigmar+One");

nav{
  font-family: 'Julius Sans One', sans-serif;
}

hr{
  margin-top: 2em;
  width: 10em;
}

#home {
  color: white;
}

body {
  background: url(https://www.imghippo.com/i/bYU9574UoU.jpg) no-repeat center center;
  color: white;
  font-family: 'Julius Sans One', sans-serif;
  min-height: 100vh;
  background-size: cover;
}

.btn{
  margin: 2em 3em 3em 0;
  background: rgba(152, 135, 143, 1);
  border: none;
}

.btn:hover{
  background: rgba(152, 94, 109, 1);
}

.navbar{
  margin-bottom: 0;
}

#quote{
  margin-top: 10em;
  padding: 0 10em;
  font-size: 200%;
}

.fa-ul li {
	display: inline-block;
	padding-right: 3em;
}

.fa-ul i {
  color: white;
}

.fa-ul i:hover{
  color: rgba(152, 135, 143, 1);
}

#quote-section i{
  padding-top: 3em;
}

#quote-section{
  padding-bottom: 7em;
  background: rgba(152, 94, 109, 0.8);
  height: 30em;
}

#direction-section{
  margin-bottom: 0;
  padding-top: 5em;
  background: rgba(73, 78, 107, 0.8);
  min-height: 8em;
}

.social-section {
  background: rgba(25, 34, 49, 0.8);
  color: white;
  min-height: 12em;
  padding: 1em;
}

.social-section h3 {
  padding-top: 2em;
}

.social-section ul{
  padding-top: 1.3em;
}
.social-section a{
  color: white;
}

/* xs < 768 */
@media screen and (max-width: 767px) {
    #quote {
        font-size: 0.9em;
    }
}

/* sm */
@media screen and (min-width: 768px) {
    #quote {
        font-size: 1em;
    }
}

/* md */
@media screen and (min-width: 992px) {
    #quote {
        font-size: 1.2em;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    #quote {
        font-size: 1.3em;
    }
}